<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <header>
        {% if query == None %}
            <title>Search</title>
        {% else %}
            <title>{{ query }}'s HomePage</title>
        {% endif %}
    </header>
    <body>
        {% if query == None %}
        <form>
            <label for="username">username</label><br>
            <input type="text" id="username" name="username"><br>
        </form> 
        {% else %}
        <div id="text_login_div">
            {% if info != None %}
            <p>{{ query }} - {{ info }}</p>
            {% else %}
            <p>{{ query }}</p>
            {% endif %}
        </div>
        <div id="buttons">
            <form>
            {% for i in range(0,links2|length) %}
                <input id="buttons form" type="button" onclick="window.location.href='{{ links2[i] }}';" value="{{ link_name2[i] }}" />
            {% endfor %}
            </form>
        </div>
        {% endif %}
    </body>
</html>