<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <header>
        {% if query == None %}
            <title>Search</title>
        {% else %}
            <title>{{ query }}'s HomePage</title>
        {% endif %}
    </header>
    <body>
        {% if query == None %}
        <form>
            <label for="username">username</label><br>
            <input type="text" id="username" name="username"><br>
        </form> 
        {% else %}
            <p>{{ query }}</p>
            {% if info != None %}
            <p>{{ info }}</p>
            {% endif %}
        {% endif %}
        </div>
    </body>
</html>